body {
    background-color: rgb(232, 229, 229);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sub-container {
    display: flex;
    width: 60%;
    max-width: 1200px;
}

.chat-input {
    flex-direction: row;
    /* submit button */
    align-items: center;

}

#chat-box-msgs {
transition-delay: 8s;
}

.chat-feed {
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0)
}

/* user msg box input area */
input {
    display: inline;
    padding: 10px;
    margin: 20px 20px 0px 0px;
    height: 10px;
    /* background-color: #FFFF00; */
}

.chat-input-msg {
    width: 85%;
}

button {
    height: 30px;
    margin-top: 20px;
}

button{
    background-color:rgb(234, 255, 255);
  }
  
button:hover{background-color:rgb(253, 253, 253);}

.chat-header {
    font-size:3vw;
    color: rgb(76, 76, 102);
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid rgb(209, 144, 23);
        The typwriter cursor */
        white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 3;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
    padding-bottom: 40px;
    padding-top: 20px;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

.chat-box {
    /* border: 2px solid black; */
    height: 300px;
    padding-left: 20px;
    /* space away from title */
    padding-top: 100px;
    overflow: auto;
}

p {
    overflow-wrap: break-word;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.about-page {
    font-family: Arial, Helvetica, sans-serif;
    width: 75%;
    padding: 10%;
    line-height: 1.6;

}

@media (max-width: 800px) {
    .sub-container {
        width: 75%;
    }
}

.about-link {
    display: inline-block;
    margin: 20px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    display: flex;
    }
    
    a:link, a:visited {
    align-items: center;
    background-color:rgb(232, 229, 229);
    color: rgb(101, 92, 92);
    text-align: center;
    text-decoration: none;
    letter-spacing: .1em;
    display: inline-blck;
    font-size: 1.5vw;
    border-radius: 3px;
    }

    a:hover, a:active {
    background-color: rgb(244, 241, 69);
}

.back-link {
    display: inline-block;
    margin: 20px;
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
}